@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

$Lato: 'Lato', sans-serif;
$MainText: #848789;
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $Lato;
  font-size: 16px;
}

.slick-dots {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.menu {
  position: absolute;
  width: 100%;
  padding: 35px 0;
  transition: background .4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  &__i-logo {
    width: 94px;
  }
  &__link {
    display: block;
    color: #4d4959;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0 40px;
    min-width: max-content;

    &:hover {
      color: #64c29e;
      cursor: pointer;
      transition: color 300ms ease-out;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.main-screen {
  background: transparent url("../images/Bg.png") no-repeat center / cover;
  height: 100vh;

}

.info {
  text-align: center;
  font-size: 18px;
  &__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #353738;
    font-size: 20px;
  }
  &__text {
    color: $MainText;
    line-height: 34px;
    margin: 0;
  }
}

.new-generation {
  padding: 117px 230px;
  &__info {
    max-width: 1080px;
    margin: 0 auto;
  }
  &__logo {
    width: 52px;
  }
  &__title {
    letter-spacing: 1.7px;
    margin: 23px 0;
  }
  &__text {
    font-size: 17px;
  }

}

.generation-info {
  &__items {
    display: flex;
    .image-container {
      min-height: 200px;
      width: 66.9%;
      background: center no-repeat / cover;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .generation-info__item {
      display: flex;
      flex-direction: column;
      width: 33.1%;

    }
    .generation-info__item-info {
      padding: 64px 65px 60px 61px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .generation-info__item-title {
        margin: 23px 0 11px 0;
      }
      .generation-info__item-text {
        text-align: justify;
        font-size: 16px;
        line-height: 30px;
        &:after {
          content: '';
          width: 50px;
          height: 3px;
          background-color: #d7d7d7;
          display: block;
          margin: 40px auto 0;
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: auto;
        bottom: -39px;
        border: 20px solid transparent;
        border-top: 20px solid white;
      }
    }
    &:last-child {
      .image-container {
        width: 33.5%;
      }
      .generation-info__item {
        width: 33.5%;
      }
      .generation-info__item-logo {
        width: 23px;

      }
      .image-container:last-child {
        background-image: url('../images/Layer14.png');
      }
      .generation-info__item {
        .image-container {
          background-image: url('../images/Layer16.png');
          width: 100%
        }
      }

      .image-container:first-child {
        background-image: url("../images/Layer15.png");
        .image-container__logo {
          width: 208px;
        }
      }

    }
  }
  &__items:first-child {
    .image-container {
      background-image: url('../images/BicycleCompany.png');
      &__logo {
        width: 113px;
      }
    }
    .generation-info__item {
      .image-container {
        background-image: url('../images/Layer11.png');
        width: 100%;
      }
      .generation-info__item-logo {
        width: 41px;

      }
    }

  }
  &__items:nth-child(2) {
    .image-container {
      background-image: url('../images/Layer12.png');
      &__logo {
        width: 177px;
      }
    }
    .generation-info__item {
      .generation-info__item-logo {
        width: 32px;
      }
      .image-container {
        background-image: url('../images/Layer13.png');
        width: 100%;
      }
    }

  }
}

.contact {
  padding: 100px 137px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .contact-logo {
    width: 32px;
  }
  .slick-list {
    margin-bottom: 85px;
  }
  .slick-dots li button:before {
    font-size: 13px;
  }
  .carousel-indicators li {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #a9afb3;
  }
  .carousel-indicators .active {
    background-color: #a9afb3;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .contact-title {
    max-width: 1040px;
    margin: 33px 0 11px 0;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .contact-time {
    display: inline;
    color: $MainText;
  }
  .contact-text {
    max-width: 1040px;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
  }
  .slick-dots {
    bottom: 65px;
    left: 0;
    li {
      color: #a9afb3;
      border-radius: 50%;
      button {
        width: 10px;
        height: 10px;
      }
    }
  }
}

.gallery {
  width: 100%;
  display: flex;
  &__items {
    padding: 0;
    width: inherit;
    max-width: 33.5333%;
    .item {
      display: flex;
    }
    .item--hover {
      height: 267px;
      width: 100%;
      display: flex;
      background: no-repeat center / cover;
      &__link {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        opacity: 0;
        background-color: rgba(100, 194, 158, 0.8);
        &:hover {
          opacity: 1;
          cursor: pointer;
          transition: opacity 400ms ease;
        }
        &:after {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          z-index: -1;
        }
      }

    }
  }
  .gallery__items:first-child {
    .item:first-child {
      .item--hover:first-child {
        background-image: url('../images/Layer19.png');
      }
      .item--hover:nth-child(2) {
        background-image: url('../images/Layer21.png');
      }
    }
    .item:nth-child(2) {
      .item--hover {
        background-image: url('../images/Layer20.png');
      }
    }
  }
  .gallery__items:nth-child(2) {
    .item:first-child {
      .item--hover:first-child {
        background-image: url('../images/Layer22.png');
        height: 534px;
      }
      .item--hover:nth-child(2) {
        background-image: url('../images/Layer25.png');
        height: 534px;
      }
    }
  }
  .gallery__items:last-child {
    .item:first-child {
      .item--hover {
        background-image: url('../images/Layer20.png');
      }
    }
    .item:last-child {
      .item--hover:first-child {
        background-image: url('../images/Layer19.png');
      }
      .item--hover:nth-child(2) {
        background-image: url('../images/Layer21.png');
      }
    }

  }
}

.discover {
  padding: 70px 0;
  background: #282f35;
  &__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 3px;
    background: #282f35;
    border: 1px solid white;
    color: white;
    padding: 16px 50px;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: rgb(100, 194, 158);
      border: 1px solid rgb(100, 194, 158);
      transition: background 400ms ease-out;
    }
  }

}

.contact-with-us {
  font-size: 24px;
  color: $MainText;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px;
  &__logo {
    width: 94px;
  }
  &__title {
    margin-top: 31px;
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
  }
  &__container {
    margin-top: 30px;
    display: flex;
    &__input {
      padding: 25px;
      width: 355px;
      font-size: 15px;
      color: #c8c8c8;
      border: 2px solid #d3d7d9;
      &:focus {
        border: 2px solid #64c29e;
      }
    }
    &__btn {
      padding: 25px 45px;
      background: #64c29e;
      border: none;
      font-size: 24px;
      line-height: 24px;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: #ff5654;
        transition: background 400ms ease-out;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 84px 88px;
  .generation-info__item {
    font-size: 16px;
    line-height: 18px;
    color: $MainText;
    .address {
      &__company {
        font-weight: bold;
      }
    }
  }
  .address {
    &__link {
      display: block;
      text-decoration: none;
      color: $MainText;
    }
  }
  .social-icons {
    display: flex;
    &__link {
      margin-right: 15px;
      &__image:hover {
        opacity: .5;
        transition: opacity 400ms ease;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  .author {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    &__by {
      color: $MainText;
      margin-right: 10px;
      min-width: 110px;
    }
    &__link {
      text-decoration: none;
      &__image {
        width: 55px;
      }
    }

  }
}

.footer {
  .generation-info__item {
    margin-bottom: 10px;
    &:last-child {
      margin: 0;
    }
  }

}

@media screen and (max-width: 1024px) {

  .new-generation {
    padding: 132px 100px;
  }
  .generation-info {
    &__items {
      .image-container {
        width: 50%;
      }
      .generation-info__item {
        width: 50%;
      }
      &:last-child {
        display: flex;
        flex-direction: column;
        .image-container, .generation-info__items__item {
          width: 100%;
        }
        .generation-info__item {
          align-items: center;
          .generation-info__item {
            padding: 100px 40px 54px 40px;
            &:after {
              content: '';
              position: absolute;
              left: 47%;
              bottom: -39px;
              border: 20px solid transparent;
              border-top: 20px solid white;
            }
          }
        }

      }
    }
  }
  .gallery {
    flex-direction: column;

  }
  .gallery__items {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    &__link {
      text-align: center;
    }
  }
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    // height: 23px;
    cursor: pointer;
    z-index: 3;
    &__burger-nav {
      width: 50px;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: .5s;
      background: #64c29e;
      border: none;
    }
  }

  .hamburg-menu__burger-nav:before, .hamburg-menu__burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    top: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .5s;
    border: none;
    background-color: #64c29e;
  }

  .hamburg-menu__burger-nav:before {
    top: 0;
    background-color: #64c29e;
  }

  .hamburg-menu.active .hamburg-menu__burger-nav {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: 1s ease;

  }

  .hamburg-menu.active .hamburg-menu__burger-nav:before {
    top: 0;
    transform: rotate(45deg);
  }

  .hamburg-menu.active .hamburg-menu__burger-nav:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu {
    height: 0;
    overflow: hidden;
    background-color: #fff;
  }

  .menu {
    margin: 0;
  }

  .menu .menu__link {
    color: #64c29e;
  }
  .menu .menu__link:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #64c29e;
    transform: scaleX(1);
  }
  .menu .menu__link:hover:after {
    width: 100%;
  }
  .menu .menu__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #64c29e;
    transition: all .3s ease-in-out;
  }

  .menu.open {
    margin: 0;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all .4s ease;
  }
  .menu.open .menu__link {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-with-us {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__btn {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
  .contact {
    padding: 125px 70px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    .generation-info__item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
      }
    }
    .social-icons {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 600px) {
  .new-generation {
    padding: 117px 45px;
  }
  .generation-info {
    &__items {
      flex-direction: column;
      .image-container {
        background: no-repeat center / cover;
        padding: 40px 0;
      }
      .image-container, &__item {
        width: 100%;
      }
      .generation-info__item {
        .generation-info__item-text {
          padding: 0 0 45px 0;
        }
      }
    }
    &__items:last-child {
      flex-direction: column;
      .image-container {
        width: 100%;
        padding: 0;
        height: 200px;
      }
      .generation-info__item {
        width: 100%;
      }
    }
  }
  .gallery {
    flex-direction: column;
    &__items {
      max-width: 100%;
      width: 100%;
    }
  }
  .contact-with-us {
    padding: 60px;
  }
  .contact {
    padding: 125px 40px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 100px;
    .generation-info__item {
      margin-bottom: 40px;
      .author {
        margin-bottom: 0;
        &__link {
          &__image {
            width: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .generation-info {
    &__items:last-child {
      .image-container {
        padding: 80px 0;
      }
    }
  }
  .contact {
    padding: 10px 10px;
    .contact-info {
      padding: 127px 10px;
    }
  }
  .contact-with-us {
    &__container {
      &__input {
        width: 260px;
      }
    }
  }

  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 380px) {
  .hamburg-menu {
    right: -27px;
  }
  .new-generation {
    padding: 117px 20px;
    &__text {
      text-align: justify;
    }
  }
  .generation-info {
    &__items {
      .generation-info__item {
        .info {
          padding: 50px 25px;
        }
      }
    }
  }
  .gallery {
    &__items {
      .item {
        flex-direction: column;
      }
    }
  }
  .contact-with-us {
    padding: 60px 0;
  }
  .contact .info {
    padding: 50px 10px;
  }

  .footer {
    padding: 25px;
  }
}

@media screen and (max-width: 340px) {
  .contact-with-us {
    &__container {
      &__input {
        width: 200px;
      }
    }
  }

}

@media screen and (max-width: 320px) {
  .discover {
    &__button {
      padding: 16px 30px;
    }
  }
  .contact {
    padding: 10px 10px;
  }
}