@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

$Lato: 'Lato', sans-serif;
$mainColor: #848789;
$titleColor: #353738;
$greenLight: #64c29e;
$transitionDuration: .3s;
$hoverFocusOpacity: .7;
$activeOpacity: .6;
$whiteColor: #fff;
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $Lato;
  font-size: 16px;

}

.slick-dots {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.menu {
  position: absolute;
  width: 100%;
  padding: 35px 0;
  transition: background $transitionDuration;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  z-index: 1;
  &__i-logo {
    width: 94px;
    transition: opacity $transitionDuration;
    &:hover,
    &:focus {
      opacity: $hoverFocusOpacity;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }
  &__link {
    color: #4d4959;
    letter-spacing: 3px;
    margin: 0 40px;
    text-decoration: none;
    transition: color $transitionDuration, opacity $transitionDuration;
    &:hover,
    &:focus {
      color: $greenLight;
      opacity: $hoverFocusOpacity;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }
}

.menu--fixed {
  position: fixed;
  background-color: white;
  z-index: 2;
}

.main-screen {
  background: transparent url("../images/Bg.jpg") no-repeat center / cover;
  height: 100vh;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $titleColor;
    font-weight: bold;
    font-size: 18px;
  }
  &__text {
    color: $mainColor;
    line-height: 34px;
    margin: 0;
  }
}

.new-generation {
  padding: 117px 230px;
  max-width: 1080px;
  margin: 0 auto;
  &__logo {
    width: 52px;
  }
  &__title {
    margin: 23px 0;
  }

}

.generation-info {
  &__items {
    display: flex;
    &:last-child {
      .image-container {
        width: calc(100% / 3);
      }
      .generation-info__item {
        width: calc(100% / 3);
      }
      .generation-info__item-logo {
        width: 23px;
      }
      .image-container:last-child {
        background-image: url('../images/Layer14.jpg');
      }
      .generation-info__item {
        .image-container {
          background-image: url('../images/Layer16.jpg');
          width: 100%
        }
      }
      .image-container:first-child {
        background-image: url("../images/Layer15.jpg");
        .image-container__logo {
          width: 208px;
        }
      }
    }
    .image-container {
      min-height: 200px;
      width: 66.9%;
      background: center no-repeat / cover;
      display: flex;
      align-items: center;
      justify-content: center;

    }
    .generation-info__item {
      width: 33.1%;
    }
    .generation-info__item-info {
      padding: 64px 65px 60px 61px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: auto;
        bottom: -39px;
        border: 20px solid transparent;
        border-top: 20px solid white;
      }
    }
    .generation-info__item-title {
      margin: 23px 0 11px 0;
    }
    .generation-info__item-text {
      text-align: justify;
      line-height: 30px;
      &:after {
        content: '';
        width: 50px;
        height: 3px;
        background-color: #d7d7d7;
        display: block;
        margin: 40px auto 0;
      }
    }
  }
  &__items:first-child {
    .image-container {
      background-image: url('../images/BicycleCompany.jpg');
      &__logo {
        width: 113px;
      }
    }
    .generation-info__item {
      .image-container {
        background-image: url('../images/Layer11.jpg');
        width: 100%;
      }
      .generation-info__item-logo {
        width: 41px;
      }
    }
  }
  &__items:nth-child(2) {
    .image-container {
      background-image: url('../images/Layer12.jpg');
      &__logo {
        width: 177px;
      }
    }
    .generation-info__item {
      .generation-info__item-logo {
        width: 32px;
      }
      .image-container {
        background-image: url('../images/Layer13.jpg');
        width: 100%;
      }
    }
  }
}

.contact {
  padding: 100px 137px;
  .contact__logo {
    width: 32px;
  }
  .slick-list {
    margin-bottom: 85px;
  }
  .slick-dots li button:before {
    font-size: 13px;
  }
  .carousel-indicators li {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #a9afb3;
  }
  .carousel-indicators .active {
    background-color: #a9afb3;
  }
  .contact__info {
    margin: 0 auto;
    display: flex;
  }
  .contact__title {
    max-width: 1040px;
    margin: 33px 0 11px 0;
    text-transform: none;
    letter-spacing: 2px;
  }
  .contact__time {
    color: $mainColor;
  }
  .contact__text {
    max-width: 1040px;
    font-size: 24px;
    font-style: italic;
  }
  .slick-dots {
    bottom: 65px;
    left: 0;
  }
}

.gallery {
  display: flex;
  &__items {
    width: 100%;
    max-width: calc(100% / 3);
    .gallery__item {
      background: no-repeat center / cover;
    }
    .gallery__item-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      color: $whiteColor;
      font-size: 18px;
      font-weight: bold;
      min-height: 267px;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      transition: opacity $transitionDuration;
      background-color: rgba(100, 194, 158, 0.8);
      &:hover,
      &:focus {
        opacity: 1;
      }
      &:active {
        opacity: 0.9;
      }
      .gallery__item-img {
        width: 51px;
        margin-bottom: 13px;
      }
    }

  }
  .gallery__items:first-child {
    display: flex;
    flex-wrap: wrap;
    .gallery__item:nth-child(1) {
      background-image: url('../images/Layer19.jpg');
      width: 50%;
    }
    .gallery__item:nth-child(2) {
      background-image: url('../images/Layer21.jpg');
      width: 50%;
    }
    .gallery__item:last-child {
      background-image: url('../images/Layer20.jpg');
      width: 100%;
    }

  }
  .gallery__items:nth-child(2) {
    display: flex;
    .gallery__item:first-child {
      background-image: url('../images/Layer22.jpg');
      width: 50%;
      .gallery__item-link {

        height: 100%;
      }
    }
    .gallery__item:last-child {
      background-image: url('../images/Layer25.jpg');
      width: 50%;
      .gallery__item-link {

        height: 100%;
      }
    }
  }
  .gallery__items:last-child {
    display: flex;
    flex-wrap: wrap;
    .gallery__item:first-child {
      background-image: url('../images/Layer20.jpg');
      width: 100%;
    }
    .gallery__item:nth-child(2) {
      background-image: url('../images/Layer19.jpg');
      width: 50%;
    }
    .gallery__item:nth-child(3) {
      background-image: url('../images/Layer21.jpg');
      width: 50%;
    }
  }

}

.discover {
  padding: 70px 0;
  background: #282f35;
  &__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 3px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 16px 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color $transitionDuration, opacity $transitionDuration;
    &:hover,
    &:focus {
      background-color: #64C29E;
      border: 1px solid #64C29E;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }

}

.contact-with-us {
  font-size: 24px;
  color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px;
  &__logo {
    width: 94px;
  }
  &__title {
    margin-top: 31px;
    line-height: 34px;
    font-style: italic;
  }
  &__container {
    margin-top: 30px;
    display: flex;
  }
  &__input {
    padding: 25px;
    width: 355px;
    font-size: 15px;
    color: #c8c8c8;
    border: 2px solid #d3d7d9;
    &:focus {
      border: 2px solid $greenLight;
    }
  }
  &__btn {
    padding: 25px 45px;
    background: $greenLight;
    border: none;
    line-height: 24px;
    color: $whiteColor;
    cursor: pointer;
    transition: background-color $transitionDuration;
    &:hover,
    &:focus {
      background-color: #ff5654;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }
}

.address {
  &__company {
    font-weight: bold;
  }
  &__link {
    max-width: max-content;
    display: block;
    text-decoration: none;
    color: $mainColor;
    transition: opacity $transitionDuration;
    &:hover,
    &:focus {
      opacity: $hoverFocusOpacity;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }
}

.author {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 18px;

  &__by {
    color: $mainColor;
    margin-right: 10px;
  }
  &__link {
    transition: opacity $transitionDuration;
    &:hover,
    &:focus {
      opacity: $hoverFocusOpacity;
    }
    &:active {
      opacity: $activeOpacity;
    }
  }
  &__link-image {
    width: 55px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 84px 88px;
  &__item {
    line-height: 18px;
    margin-bottom: 10px;
    color: $mainColor;
    &:last-child {
      margin: 0;
    }
  }
  .social-icons {
    display: flex;
    &__link {
      margin-right: 15px;
      transition: opacity $transitionDuration;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &:focus {
        opacity: $hoverFocusOpacity;
      }
      &:active {
        opacity: $activeOpacity;
      }
    }
    &__i-link {
      width: 35px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .new-generation {
    padding: 132px 100px;
  }
  .generation-info {
    &__items {
      .image-container {
        width: 50%;
      }
      .generation-info__item {
        width: 50%;
      }
      &:last-child {
        flex-direction: column;
        .image-container, .generation-info__items__item {
          width: 100%;
        }
        .generation-info__item {
          width: 100%;
        }
      }
    }
  }
  .gallery {
    flex-direction: column;
  }
  .gallery__items {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: 15px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    transition: transform $transitionDuration, opacity $transitionDuration;
    &:hover,
    &:focus {
      opacity: $hoverFocusOpacity;
    }
    &:active {
      opacity: $activeOpacity;
    }
    &__burger-nav {
      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 6px;
        position: absolute;
        top: 24px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: top $transitionDuration, transform $transitionDuration;
        background-color: $greenLight;
      }
      &:before {
        top: 8px;
      }
    }
  }

  .hamburg-menu.hamburg-menu--active .hamburg-menu__burger-nav {
    &:before {
      top: 17px;
      transform: rotate(45deg);
    }
    &:after {
      top: 17px;
      transform: rotate(135deg);
    }
  }

  .menu {
    flex-direction: column;
    text-align: center;
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    background-color: $whiteColor;
    opacity: 0;
    transition: opacity $transitionDuration, visibility $transitionDuration;
    z-index: 1;
    &__link {
      text-transform: uppercase;
      margin: 20px 0;
      &:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: $greenLight;
        transition: width $transitionDuration;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  .menu.menu--open {
    visibility: visible;
    opacity: 1;
  }

  .contact-with-us {
    &__container {
      flex-direction: column;
    }
    &__btn {
      margin-top: 20px;
      width: 100%;
    }
  }
  .contact {
    padding: 125px 70px;
  }
  .footer {
    flex-direction: column;
    align-items: start;
    &__item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .new-generation {
    padding: 117px 45px;
  }
  .generation-info {
    &__items {
      flex-direction: column;
      .image-container {

        padding: 40px 0;
      }
      .image-container, .generation-info__item {
        width: 100%;
      }
      .generation-info__item {
        .generation-info__item-text {
          padding: 0 0 45px 0;
        }
      }
    }
    &__items:last-child {
      flex-direction: column;
      .image-container {
        padding: 0;
        height: 200px;
      }
    }
  }
  .contact-with-us {
    padding: 60px;
  }
  .contact {
    padding: 125px 40px;
  }

  .footer {
    padding: 100px;
    &__item {
      margin-bottom: 40px;
      .author {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .generation-info {
    &__items:last-child {
      .image-container {
        padding: 80px 0;
      }
    }
  }
  .contact {
    padding: 10px;
    .contact-info {
      padding: 127px 10px;
    }
    .contact__logo {
      margin-top: 20px;
    }
    .contact__text {
      font-size: 20px;
    }
  }
  .contact-with-us {
    &__input {
      width: 260px;
    }
  }
  .gallery {
    .gallery__items:first-child {
      .gallery__item:nth-child(1) {
        width: 100%;
      }
      .gallery__item:nth-child(2) {
        width: 100%;
      }
    }
    .gallery__items:nth-child(2) {
      flex-direction: column;
      .gallery__item:first-child {
        width: 100%;
      }
      .gallery__item:last-child {
        width: 100%;
      }
    }
    .gallery__items:last-child {
      .gallery__item:nth-child(2) {
        width: 100%;
      }
      .gallery__item:nth-child(3) {
        width: 100%;
      }
    }
  }
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 380px) {
  .new-generation {
    padding: 117px 20px;
    &__text {
      text-align: justify;
    }
  }
  .generation-info {
    &__items {
      .generation-info__item {
        .generation-info__item-info {
          padding: 50px 25px;
        }
      }
    }
  }
  .contact-with-us {
    padding: 60px 0;
  }
  .contact .contact-info {
    padding: 50px 10px;
  }

  .footer {
    padding: 25px;
  }
}

@media screen and (max-width: 340px) {
  .contact-with-us {
    &__input {
      width: 200px;
    }
  }
}

@media screen and (max-width: 320px) {
  .discover {
    &__button {
      padding: 16px 30px;
    }
  }
}