@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin-ext");
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

i {
  font-style: italic; }

.slick-dots {
  bottom: 0; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.menu {
  position: fixed;
  width: 100%;
  padding: 35px 0;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  z-index: 1; }
  .menu__i-logo {
    width: 94px;
    transition: opacity 0.3s; }
    .menu__i-logo:hover, .menu__i-logo:focus {
      opacity: 0.7; }
    .menu__i-logo:active {
      opacity: 0.6; }
  .menu__link {
    color: #4d4959;
    letter-spacing: 3px;
    margin: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s, opacity 0.3s; }
    .menu__link:hover, .menu__link:focus {
      color: #64c29e;
      opacity: 0.7; }
    .menu__link:active {
      opacity: 0.6; }

.menu--fixed {
  background-color: white;
  z-index: 2; }

.main-screen {
  background: transparent url("../images/Bg.jpg") no-repeat center/cover;
  height: 100vh; }

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .info__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #353738;
    font-weight: bold;
    font-size: 18px; }
  .info__text {
    color: #848789;
    line-height: 34px; }

.new-generation {
  padding: 117px 230px;
  max-width: 1080px;
  margin: 0 auto; }
  .new-generation__logo {
    width: 52px; }
  .new-generation__title {
    margin: 23px 0; }

.generation-info__items {
  display: flex; }
  .generation-info__items:last-child .image-container {
    width: calc(100% / 3); }
  .generation-info__items:last-child .generation-info__item {
    width: calc(100% / 3); }
  .generation-info__items:last-child .generation-info__item-logo {
    width: 23px; }
  .generation-info__items:last-child .image-container:last-child {
    background-image: url("../images/Layer14.jpg"); }
  .generation-info__items:last-child .generation-info__item .image-container {
    background-image: url("../images/Layer16.jpg");
    width: 100%; }
  .generation-info__items:last-child .image-container:first-child {
    background-image: url("../images/Layer15.jpg"); }
    .generation-info__items:last-child .image-container:first-child .image-container__logo {
      width: 208px; }
  .generation-info__items .image-container {
    min-height: 200px;
    width: 66.9%;
    background: center no-repeat / cover;
    display: flex;
    align-items: center;
    justify-content: center; }
  .generation-info__items .generation-info__item {
    width: 33.1%; }
  .generation-info__items .generation-info__item-info {
    padding: 64px 65px 60px 61px;
    position: relative; }
    .generation-info__items .generation-info__item-info:after {
      content: '';
      position: absolute;
      left: auto;
      bottom: -39px;
      border: 20px solid transparent;
      border-top: 20px solid white; }
  .generation-info__items .generation-info__item-title {
    margin: 23px 0 11px 0; }
  .generation-info__items .generation-info__item-text {
    text-align: justify;
    line-height: 30px; }
    .generation-info__items .generation-info__item-text:after {
      content: '';
      width: 50px;
      height: 3px;
      background-color: #d7d7d7;
      display: block;
      margin: 40px auto 0; }

.generation-info__items:first-child .image-container {
  background-image: url("../images/BicycleCompany.jpg"); }
  .generation-info__items:first-child .image-container__logo {
    width: 113px; }

.generation-info__items:first-child .generation-info__item .image-container {
  background-image: url("../images/Layer11.jpg");
  width: 100%; }

.generation-info__items:first-child .generation-info__item .generation-info__item-logo {
  width: 41px; }

.generation-info__items:nth-child(2) .image-container {
  background-image: url("../images/Layer12.jpg"); }
  .generation-info__items:nth-child(2) .image-container__logo {
    width: 177px; }

.generation-info__items:nth-child(2) .generation-info__item .generation-info__item-logo {
  width: 32px; }

.generation-info__items:nth-child(2) .generation-info__item .image-container {
  background-image: url("../images/Layer13.jpg");
  width: 100%; }

.contact {
  padding: 100px 137px; }
  .contact .contact__logo {
    width: 32px; }
  .contact .slick-list {
    margin-bottom: 85px; }
  .contact .slick-dots li button:before {
    font-size: 13px; }
  .contact .carousel-indicators li {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #a9afb3; }
  .contact .carousel-indicators .active {
    background-color: #a9afb3; }
  .contact .contact__info {
    margin: 0 auto;
    display: flex; }
  .contact .contact__title {
    max-width: 1040px;
    margin: 33px auto 11px;
    text-transform: none;
    letter-spacing: 2px; }
  .contact .contact__time {
    color: #848789; }
  .contact .contact__text {
    max-width: 1040px;
    font-size: 24px;
    font-style: italic; }
  .contact .slick-dots {
    bottom: 65px;
    left: 0; }

.gallery {
  display: flex; }
  .gallery__items {
    width: 100%;
    max-width: calc(100% / 3); }
    .gallery__items .gallery__item {
      background: no-repeat center / cover; }
    .gallery__items .gallery__item-link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      min-height: 267px;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.3s;
      background-color: rgba(100, 194, 158, 0.8); }
      .gallery__items .gallery__item-link:hover, .gallery__items .gallery__item-link:focus {
        opacity: 1; }
      .gallery__items .gallery__item-link:active {
        opacity: 0.9; }
      .gallery__items .gallery__item-link .gallery__item-img {
        width: 51px;
        margin-bottom: 13px; }
  .gallery .gallery__items:first-child {
    display: flex;
    flex-wrap: wrap; }
    .gallery .gallery__items:first-child .gallery__item:nth-child(1) {
      background-image: url("../images/Layer19.jpg");
      width: 50%; }
    .gallery .gallery__items:first-child .gallery__item:nth-child(2) {
      background-image: url("../images/Layer21.jpg");
      width: 50%; }
    .gallery .gallery__items:first-child .gallery__item:last-child {
      background-image: url("../images/Layer20.jpg");
      width: 100%; }
  .gallery .gallery__items:nth-child(2) {
    display: flex; }
    .gallery .gallery__items:nth-child(2) .gallery__item:first-child {
      background-image: url("../images/Layer22.jpg");
      width: 50%; }
      .gallery .gallery__items:nth-child(2) .gallery__item:first-child .gallery__item-link {
        height: 100%; }
    .gallery .gallery__items:nth-child(2) .gallery__item:last-child {
      background-image: url("../images/Layer25.jpg");
      width: 50%; }
      .gallery .gallery__items:nth-child(2) .gallery__item:last-child .gallery__item-link {
        height: 100%; }
  .gallery .gallery__items:last-child {
    display: flex;
    flex-wrap: wrap; }
    .gallery .gallery__items:last-child .gallery__item:first-child {
      background-image: url("../images/Layer20.jpg");
      width: 100%; }
    .gallery .gallery__items:last-child .gallery__item:nth-child(2) {
      background-image: url("../images/Layer19.jpg");
      width: 50%; }
    .gallery .gallery__items:last-child .gallery__item:nth-child(3) {
      background-image: url("../images/Layer21.jpg");
      width: 50%; }

.discover {
  padding: 70px 0;
  background: #282f35; }
  .discover__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 3px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 16px 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s; }
    .discover__button:hover, .discover__button:focus {
      background-color: #64C29E;
      border: 1px solid #64C29E; }
    .discover__button:active {
      opacity: 0.6; }

.contact-with-us {
  font-size: 24px;
  color: #848789;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px; }
  .contact-with-us__logo {
    width: 94px; }
  .contact-with-us__title {
    margin-top: 31px;
    line-height: 34px;
    font-style: italic; }
  .contact-with-us__container {
    margin-top: 30px;
    display: flex; }
  .contact-with-us__input {
    padding: 25px;
    width: 355px;
    font-size: 15px;
    color: #c8c8c8;
    border: 2px solid #d3d7d9; }
    .contact-with-us__input:focus {
      border: 2px solid #64c29e; }
  .contact-with-us__btn {
    padding: 25px 45px;
    background: #64c29e;
    border: none;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s; }
    .contact-with-us__btn:hover, .contact-with-us__btn:focus {
      background-color: #ff5654; }
    .contact-with-us__btn:active {
      opacity: 0.6; }

.address__company {
  font-weight: bold; }

.address__link {
  max-width: 100%;
  display: block;
  text-decoration: none;
  color: #848789;
  transition: opacity 0.3s; }
  .address__link:hover, .address__link:focus {
    opacity: 0.7; }
  .address__link:active {
    opacity: 0.6; }

.author {
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 14px;
  line-height: 18px; }
  .author__by {
    color: #848789;
    margin-right: 10px; }
  .author__link {
    transition: opacity 0.3s; }
    .author__link:hover, .author__link:focus {
      opacity: 0.7; }
    .author__link:active {
      opacity: 0.6; }
  .author__link-image {
    width: 55px; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 84px 88px; }
  .footer__item {
    line-height: 18px;
    margin-bottom: 10px;
    color: #848789; }
    .footer__item:last-child {
      margin: 0; }
  .footer .social-icons {
    display: flex; }
    .footer .social-icons__link {
      margin-right: 15px;
      transition: opacity 0.3s; }
      .footer .social-icons__link:last-child {
        margin-right: 0; }
      .footer .social-icons__link:hover, .footer .social-icons__link:focus {
        opacity: 0.7; }
      .footer .social-icons__link:active {
        opacity: 0.6; }
    .footer .social-icons__i-link {
      width: 35px; }

@media screen and (max-width: 1024px) {
  .new-generation {
    padding: 132px 100px; }
  .generation-info__items .image-container {
    width: 50%; }
  .generation-info__items .generation-info__item {
    width: 50%; }
  .generation-info__items:last-child {
    flex-direction: column; }
    .generation-info__items:last-child .image-container, .generation-info__items:last-child .generation-info__items__item {
      width: 100%; }
    .generation-info__items:last-child .generation-info__item {
      width: 100%; }
  .gallery {
    flex-direction: column; }
  .gallery__items {
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: 15px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s, opacity 0.3s; }
    .hamburg-menu:hover, .hamburg-menu:focus {
      opacity: 0.7; }
    .hamburg-menu:active {
      opacity: 0.6; }
    .hamburg-menu__burger-nav:before, .hamburg-menu__burger-nav:after {
      content: '';
      width: 100%;
      height: 6px;
      position: absolute;
      top: 24px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: top 0.3s, transform 0.3s;
      background-color: #64c29e; }
    .hamburg-menu__burger-nav:before {
      top: 8px; }
  .hamburg-menu.hamburg-menu--active .hamburg-menu__burger-nav:before {
    top: 17px;
    transform: rotate(45deg); }
  .hamburg-menu.hamburg-menu--active .hamburg-menu__burger-nav:after {
    top: 17px;
    transform: rotate(135deg); }
  .menu {
    flex-direction: column;
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1; }
    .menu__link {
      margin: 20px 0; }
      .menu__link:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: #64c29e;
        transition: width 0.3s; }
      .menu__link:hover:after {
        width: 100%; }
  .menu.menu--open {
    visibility: visible;
    opacity: 1; }
  .contact-with-us__container {
    flex-direction: column; }
  .contact-with-us__btn {
    margin-top: 20px;
    width: 100%; }
  .contact {
    padding: 125px 70px; }
  .footer {
    flex-direction: column;
    align-items: start; }
    .footer__item {
      margin-bottom: 30px; }
      .footer__item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 600px) {
  .new-generation {
    padding: 117px 45px; }
  .generation-info__items {
    flex-direction: column; }
    .generation-info__items .image-container {
      padding: 40px 0; }
    .generation-info__items .image-container, .generation-info__items .generation-info__item {
      width: 100%; }
  .generation-info__items:last-child {
    flex-direction: column; }
    .generation-info__items:last-child .image-container {
      padding: 0;
      height: 200px; }
  .contact-with-us {
    padding: 60px; }
  .contact {
    padding: 125px 40px; }
  .footer {
    padding: 100px; }
    .footer__item {
      margin-bottom: 40px; }
      .footer__item .author {
        margin-bottom: 0; } }

@media screen and (max-width: 430px) {
  .generation-info__items:last-child .image-container {
    padding: 80px 0; }
  .contact {
    padding: 20px; }
    .contact .contact-info {
      padding: 127px 10px; }
    .contact .contact__text {
      font-size: 20px; }
  .contact-with-us__input {
    width: 260px; }
  .gallery .gallery__items:first-child .gallery__item:nth-child(1) {
    width: 100%; }
  .gallery .gallery__items:first-child .gallery__item:nth-child(2) {
    width: 100%; }
  .gallery .gallery__items:nth-child(2) {
    flex-direction: column; }
    .gallery .gallery__items:nth-child(2) .gallery__item:first-child {
      width: 100%; }
    .gallery .gallery__items:nth-child(2) .gallery__item:last-child {
      width: 100%; }
  .gallery .gallery__items:last-child .gallery__item:nth-child(2) {
    width: 100%; }
  .gallery .gallery__items:last-child .gallery__item:nth-child(3) {
    width: 100%; }
  .footer {
    padding: 50px; } }

@media screen and (max-width: 380px) {
  .new-generation {
    padding: 117px 20px; }
    .new-generation__text {
      text-align: justify; }
  .generation-info__items .generation-info__item .generation-info__item-info {
    padding: 50px 25px; }
  .contact-with-us {
    padding: 60px 0; }
  .contact .contact-info {
    padding: 50px 10px; }
  .footer {
    padding: 25px; } }

@media screen and (max-width: 340px) {
  .contact-with-us__input {
    width: 200px; } }

@media screen and (max-width: 320px) {
  .discover__button {
    padding: 16px 30px; } }
