@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');

$Lato: 'Lato', sans-serif;
html, body {
  margin: 0;
  padding: 0;
}

.slick-dots {
  bottom: 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.menu {
  position: absolute;
  width: 100%;
  padding-top: 35px;
  transition: all .4s ease;
  .menu__container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $Lato;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    .menu__item {
      margin: 0 40px;
      a {
        display: block;
        color: #4d4959;
        text-decoration: none;
        letter-spacing: 3px;
        &:hover {
          color: #64c29e;
          cursor: pointer;
          transition: color 300ms ease-out;
        }
      }
    }
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
 // transition: all .4s ease;
}

.main-screen {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  height: 100vh;

}

main {
  font-family: $Lato;
  .info {
    text-align: center;
    color: #353738;
    font-family: $Lato;
    font-size: 18px;
    h3 {
      font-size: 18px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
    p {
      color: #848789;
      line-height: 34px;
      margin: 0;
    }
  }
  .new-generation {
    padding: 132px 230px;
    .info {
      max-width: 1080px;
      h3 {
        font-size: 18px;
        color: #353738;
        font-family: $Lato;
        font-weight: bold;
        text-align: center;
        letter-spacing: 3.7px;
        margin: 23px 0;
      }
      p {
        font-size: 16px;
        line-height: 30px;
        color: #848789;
        font-family: $Lato;
        text-align: center;
      }
    }

  }
  .generation-info {
    &__items {
      display: flex;
      .image-container {
        width: 66.9%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        display: flex;
        align-items: center;
        justify-content: space-around;

      }
      .item-content {
        display: flex;
        flex-direction: column;
        width: 33.1%;
        .info {
          max-width: 400px;
          padding: 100px 59px 54px 70px;
          position: relative;
          .info__title {
            margin-top: 23px;
            margin-bottom: 10px;
          }
          p {
            font-size: 16px;
            line-height: 31px;
            color: #848789;
            font-family: $Lato;
            text-align: justify;
            position: relative;
            padding-bottom: 33px;
            &:after {
              content: '';
              width: 50px;
              height: 3px;
              background: #d7d7d7;
              border-width: 0 10px;
              display: block;
              margin: 40px auto 0;
            }
          }
          &:after {
            content: '';
            position: absolute;
            left: 48%;
            bottom: -39px;
            border: 20px solid transparent;
            border-top: 20px solid white;
          }
        }
      }
    }
    &__items:last-child {
      .image-container {
        width: 33.333%;
      }
      .item-content {
        width: 33.333%;
      }
    }
  }
  .contact {
    padding: 100px 125px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .slick-list {
      margin-bottom: 100px;
    }
    .carousel-indicators li {
      background-color: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #a9afb3;
    }
    .carousel-indicators .active {
      background-color: #a9afb3;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: $Lato;
      &__title {
        max-width: 1040px;
        margin-top: 27px;
        margin-bottom: 11px;
        text-transform: none;
        &__time {

          display: inline;
          color: #848789;
        }
      }
      &__text {
        max-width: 1040px;
        font-size: 24px;
        line-height: 34px;
        font-style: italic;

      }
    }
    .slick-dots {

      bottom: 65px;
      left: 0;
      li {

        color: #a9afb3;
        border-radius: 50%;
        button {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
  .gallery {
    width: 100%;
    display: flex;
    &__items {
      padding: 0;
      width: inherit;
      max-width: 33.333333%;
      .item {
        display: flex;
      }
      .item--hover {
        height: 267px;
      }
    }
  }
  .item--hover {
    width: 100%;
    height: 265px;
    display: flex;

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      background-image: none;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      opacity: 0;
      background-color: rgba(100, 194, 158, 0.8);
      &:hover {
        opacity: 1;
        cursor: pointer;
        transition: all 400ms ease;
      }
      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        // transition: opacity 300ms ease;
        z-index: -1;
      }

    }
  }

  .discover {
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background: #282f35;
    display: flex;
    flex-direction: column;
    &__button {
      font-size: 14px;
      letter-spacing: 3px;
      background: #282f35;
      border: 1px solid white;
      color: white;
      padding: 16px 50px;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        background-color: rgb(100, 194, 158);
        border: 2px solid rgb(100, 194, 158);
        transition: all 400ms ease-out;
      }
    }

  }

  .contact-with-us {
    font-size: 24px;
    color: #848789;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px;
    &__title {
      margin-top: 31px;
      font-size: 24px;
      line-height: 34px;
      font-family: $Lato;
      font-style: italic;
    }
    &__input-section {
      margin-top: 30px;
      display: flex;
      input {
        padding: 25px;
        width: 350px;
        font-size: 15px;
        color: #c8c8c8;
        border: 2px solid #d3d7d9;
        &:focus {
          border: 2px solid #64c29e;
        }
      }
      button {
        padding: 25px 49px;
        background: #64c29e;
        border: none;
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;
        font-family: $Lato;
        font-weight: 300;
        &:hover {
          cursor: pointer;
          background-color: #ff5654;
          transition: all 400ms ease-out;
        }
      }
    }
  }

}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 90px 108px;
  &__item {
    font-size: 16px;
    line-height: 18px;
    color: #848789;
    font-family: $Lato;
    .company {
      font-weight: bold;

    }
  }
  .address {
    .city {
      a {
        text-decoration: none;
        color: #848789;
      }
    }
  }
  .social-icons {
    display: flex;
    &__container {
      height: max-content;
      margin-right: 15px;
      a {
        img:hover {
          opacity: .5;
          transition: all 400ms ease;
        }
      }
      &:last-child {
        margin: 0;
      }
    }

  }
  .author {
    display: flex;
    align-items: center;
    &__by {
      color: #848789;
      margin-right: 10px;
      min-width: 110px;
    }
    a {
      text-decoration: none;
      img {
        width: 100%;
        height: max-content;
      }
    }

  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 117px 75px !important;
  }
  main {
    .gallery {
      display: flex;
      &__items {
        max-width: 33.333333%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    .new-generation {
      padding: 132px 100px;
    }
    .generation-info {
      &__items {
        overflow: hidden;
        .image-container {
          width: 50% !important;
        }
        .item-content {
          width: 50% !important;

        }
      }
    }
    .gallery {
      flex-direction: column;

    }
    .gallery__items {
      max-width: 100%;
      width: 100%;
    }
  }
  .footer {
    &__item {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
    .author {
      img {
        width: auto;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .menu {
    padding-top: 0;
  }
  .menu__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;

    .menu__item {
      padding: 34px;
    }
  }
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 3;
  }
  .burger-nav {
    width: 50px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #64c29e;
    border: none;
  }

  .burger-nav:before, .burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
    background: #64c29e;
  }

  .burger-nav:before {
    top: -16px;
    background: #64c29e;
  }

  .hamburg-menu.active .burger-nav {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: all 1s ease;
  }

  .hamburg-menu.active .burger-nav:before {
    top: 0;
    transform: rotate(45deg);
  }

  .hamburg-menu.active .burger-nav:after {
    top: 0;
    transform: rotate(135deg);
  }

  .menu .menu__container {
    height: 0;
    overflow: hidden;
    background: #fff;
  }

  .menu .menu__container.open {
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 400ms ease-out;
  }

  .menu .menu__item {
    text-align: left;
    width: 100%;
  }

  .menu .menu__item a {
    color: #64c29e;
  }
  .menu a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: #64c29e;
    transform: scaleX(1);
  }
  .menu a:hover:after {
    width: 100%;
  }
  .menu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #64c29e;
    transition: all .3s ease-in-out;
  }
  .menu .menu__container.open {
    transition: all .4s ease;
  }

  .menu .menu__container.open {
    height: auto;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  .menu .menu__container.open .menu__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /**************************************/
  main {
    .contact-with-us {

      &__input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
    .contact {
      padding: 125px 70px;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    &__item {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
      }
    }
    .social-icons {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 600px) {

  main {
    .new-generation {
      padding: 117px 45px;
    }
    .generation-info {
      &__items {
        flex-direction: column;
        .image-container {
          padding: 40px 0;
        }
        .image-container, .item-content {
          width: 100% !important;
        }
        .item-content {
          .info p {
            padding: 0 0 45px 0 !important

          }
        }

      }
      &__items :last-child {
        flex-direction: column;
        .image-container {
          width: 100% !important;
          padding: 0px;
          height: 200px;
        }
        .item-content {
          width: 100% !important;
        }
      }
    }
    .gallery {
      flex-direction: column;
      &__items {
        max-width: 100%;
        width: 100%;
      }
    }
    .contact-with-us {
      padding: 60px;
    }
    .contact {
      padding: 125px 40px;
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    padding: 100px;
    &__item {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
        img {
          width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {

  main {
    .generation-info {
      &__items:last-child {
        .image-container {
          padding: 80px 0;
        }
      }
    }
    .contact {
      padding: 10px 10px;
      .info {
        padding: 127px 10px;
      }
    }
    .contact-with-us {
      &__input-section {
        input {
          width: 260px;
        }
      }
    }
  }
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 380px) {
  main {
    .new-generation {
      padding: 117px 20px;
      .info {
        p {
          text-align: justify;
        }
      }
    }
    .generation-info {
      &__items {
        .item-content {
          .info {
            padding-top: 50px;
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
    }
    .gallery {
      &__items {
        .item {
          flex-direction: column;
        }
      }
    }
    .contact-with-us {
      padding: 60px 0;
    }
    .contact .info {
      padding: 50px 10px;
    }
  }
  .footer {
    padding: 25px;
  }
}

@media screen and (max-width: 340px) {
  main {
    .contact-with-us {
      &__input-section {
        input {
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  main {
    .discover {
      &__button {
        padding: 16px 30px;
      }
    }
    .contact {
      padding: 10px 10px;
    }
  }
}

@media screen and (min-width: 320px) {

  .gallery {
    text-align: center;
    svg {
      padding-left: 15px;
    }
  }
}