@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin-ext");
html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px; }

.slick-dots {
  bottom: 0; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.menu {
  position: absolute;
  width: 100%;
  padding: 35px 0;
  transition: background .4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px; }
  .menu__i-logo {
    width: 94px; }
  .menu__link {
    color: #4d4959;
    letter-spacing: 3px;
    margin: 0 40px;
    text-decoration: none; }
    .menu__link:hover {
      color: #64c29e;
      cursor: pointer;
      transition: color 300ms ease-out; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2; }

.main-screen {
  background: transparent url("../images/Bg.png") no-repeat center/cover;
  height: 100vh; }

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .info__title {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #353738;
    font-weight: bold;
    font-size: 18px; }
  .info__text {
    color: #848789;
    line-height: 34px;
    margin: 0; }

.new-generation {
  padding: 117px 230px; }
  .new-generation__info {
    max-width: 1080px;
    margin: 0 auto; }
  .new-generation__logo {
    width: 52px; }
  .new-generation__title {
    margin: 23px 0; }

.generation-info__items {
  display: flex; }
  .generation-info__items:last-child .image-container {
    width: 33.5%; }
  .generation-info__items:last-child .generation-info__item {
    width: 33.5%; }
  .generation-info__items:last-child .generation-info__item-logo {
    width: 23px; }
  .generation-info__items:last-child .image-container:last-child {
    background-image: url("../images/Layer14.png"); }
  .generation-info__items:last-child .generation-info__item .image-container {
    background-image: url("../images/Layer16.png");
    width: 100%; }
  .generation-info__items:last-child .image-container:first-child {
    background-image: url("../images/Layer15.png"); }
    .generation-info__items:last-child .image-container:first-child .image-container__logo {
      width: 208px; }
  .generation-info__items .image-container {
    min-height: 200px;
    width: 66.9%;
    background: center no-repeat / cover;
    display: flex;
    align-items: center;
    justify-content: center; }
  .generation-info__items .generation-info__item {
    display: flex;
    flex-direction: column;
    width: 33.1%; }
  .generation-info__items .generation-info__item-info {
    padding: 64px 65px 60px 61px;
    position: relative; }
    .generation-info__items .generation-info__item-info:after {
      content: '';
      position: absolute;
      left: auto;
      bottom: -39px;
      border: 20px solid transparent;
      border-top: 20px solid white; }
  .generation-info__items .generation-info__item-title {
    margin: 23px 0 11px 0; }
  .generation-info__items .generation-info__item-text {
    text-align: justify;
    line-height: 30px; }
    .generation-info__items .generation-info__item-text:after {
      content: '';
      width: 50px;
      height: 3px;
      background-color: #d7d7d7;
      display: block;
      margin: 40px auto 0; }

.generation-info__items:first-child .image-container {
  background-image: url("../images/BicycleCompany.png"); }
  .generation-info__items:first-child .image-container__logo {
    width: 113px; }

.generation-info__items:first-child .generation-info__item .image-container {
  background-image: url("../images/Layer11.png");
  width: 100%; }

.generation-info__items:first-child .generation-info__item .generation-info__item-logo {
  width: 41px; }

.generation-info__items:nth-child(2) .image-container {
  background-image: url("../images/Layer12.png"); }
  .generation-info__items:nth-child(2) .image-container__logo {
    width: 177px; }

.generation-info__items:nth-child(2) .generation-info__item .generation-info__item-logo {
  width: 32px; }

.generation-info__items:nth-child(2) .generation-info__item .image-container {
  background-image: url("../images/Layer13.png");
  width: 100%; }

.contact {
  padding: 100px 137px;
  width: 100%; }
  .contact .contact-logo {
    width: 32px; }
  .contact .slick-list {
    margin-bottom: 85px; }
  .contact .slick-dots li button:before {
    font-size: 13px; }
  .contact .carousel-indicators li {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #a9afb3; }
  .contact .carousel-indicators .active {
    background-color: #a9afb3; }
  .contact .contact-info {
    margin: 0 auto;
    display: flex; }
  .contact .contact-title {
    max-width: 1040px;
    margin: 33px 0 11px 0;
    text-transform: none;
    letter-spacing: 2px; }
  .contact .contact-time {
    display: inline;
    color: #848789; }
  .contact .contact-text {
    max-width: 1040px;
    font-size: 24px;
    font-style: italic; }
  .contact .slick-dots {
    bottom: 65px;
    left: 0; }
    .contact .slick-dots li {
      color: #a9afb3;
      border-radius: 50%; }
      .contact .slick-dots li button {
        width: 10px;
        height: 10px; }

.gallery {
  width: 100%;
  display: flex; }
  .gallery__items {
    padding: 0;
    width: 100%;
    max-width: 33.5333%; }
    .gallery__items .gallery__item {
      display: flex;
      background: no-repeat center / cover; }
    .gallery__items .item--hover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      height: 267px;
      width: 100%;
      background: rgba(100, 194, 158, 0.8) no-repeat center/cover;
      opacity: 0; }
      .gallery__items .item--hover:hover {
        background-color: rgba(100, 194, 158, 0.8);
        opacity: 1;
        cursor: pointer;
        transition: opacity 400ms ease; }
      .gallery__items .item--hover__img {
        width: 51px; }
  .gallery .gallery__items:first-child {
    display: flex;
    flex-wrap: wrap; }
    .gallery .gallery__items:first-child .gallery__item:nth-child(1) {
      background-image: url("../images/Layer19.png");
      width: 50%; }
    .gallery .gallery__items:first-child .gallery__item:nth-child(2) {
      background-image: url("../images/Layer21.png");
      width: 50%; }
    .gallery .gallery__items:first-child .gallery__item:last-child {
      background-image: url("../images/Layer20.png");
      width: 100%; }
  .gallery .gallery__items:nth-child(2) {
    display: flex; }
    .gallery .gallery__items:nth-child(2) .gallery__item:first-child {
      background-image: url("../images/Layer22.png");
      width: 50%; }
      .gallery .gallery__items:nth-child(2) .gallery__item:first-child .item--hover {
        height: 534px; }
    .gallery .gallery__items:nth-child(2) .gallery__item:last-child {
      background-image: url("../images/Layer25.png");
      width: 50%; }
      .gallery .gallery__items:nth-child(2) .gallery__item:last-child .item--hover {
        height: 534px; }
  .gallery .gallery__items:last-child {
    display: flex;
    flex-wrap: wrap; }
    .gallery .gallery__items:last-child .gallery__item:first-child {
      background-image: url("../images/Layer20.png");
      width: 100%; }
    .gallery .gallery__items:last-child .gallery__item:nth-child(2) {
      background-image: url("../images/Layer19.png");
      width: 50%; }
    .gallery .gallery__items:last-child .gallery__item:nth-child(3) {
      background-image: url("../images/Layer21.png");
      width: 50%; }

.discover {
  padding: 70px 0;
  background: #282f35; }
  .discover__button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 3px;
    background: #282f35;
    border: 1px solid white;
    color: white;
    padding: 16px 50px;
    text-transform: uppercase; }
    .discover__button:hover {
      cursor: pointer;
      background-color: #64c29e;
      border: 1px solid #64c29e;
      transition: background 400ms ease-out; }

.contact-with-us {
  font-size: 24px;
  color: #848789;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px; }
  .contact-with-us__logo {
    width: 94px; }
  .contact-with-us__title {
    margin-top: 31px;
    line-height: 34px;
    font-style: italic; }
  .contact-with-us__container {
    margin-top: 30px;
    display: flex; }
  .contact-with-us__input {
    padding: 25px;
    width: 355px;
    font-size: 15px;
    color: #c8c8c8;
    border: 2px solid #d3d7d9; }
    .contact-with-us__input:focus {
      border: 2px solid #64c29e; }
  .contact-with-us__btn {
    padding: 25px 45px;
    background: #64c29e;
    border: none;
    line-height: 24px;
    color: #fff; }
    .contact-with-us__btn:hover {
      cursor: pointer;
      background-color: #ff5654;
      transition: background 400ms ease-out; }

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 84px 88px; }
  .footer__item {
    line-height: 18px;
    margin-bottom: 10px;
    color: #848789; }
    .footer__item:last-child {
      margin: 0; }
  .footer .address__company {
    font-weight: bold; }
  .footer .address__link {
    max-width: max-content;
    display: block;
    text-decoration: none;
    color: #848789; }
    .footer .address__link:hover {
      opacity: .5; }
  .footer .address .address__link:hover {
    transition: opacity .5s ease; }
  .footer .social-icons {
    display: flex; }
    .footer .social-icons__link {
      margin-right: 15px; }
      .footer .social-icons__link:last-child {
        margin: 0; }
    .footer .social-icons__i-link {
      width: 35px; }
    .footer .social-icons__i-link:hover {
      opacity: .5;
      transition: opacity 400ms ease; }
  .footer .author {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    line-height: 18px; }
    .footer .author__by {
      color: #848789;
      margin-right: 10px; }
    .footer .author__link {
      text-decoration: none; }
      .footer .author__link:hover {
        opacity: .5;
        transition: opacity .5s ease; }
    .footer .author__link-image {
      width: 55px; }

@media screen and (max-width: 1024px) {
  .new-generation {
    padding: 132px 100px; }
  .generation-info__items .image-container {
    width: 50%; }
  .generation-info__items .generation-info__item {
    width: 50%; }
  .generation-info__items:last-child {
    display: flex;
    flex-direction: column; }
    .generation-info__items:last-child .image-container, .generation-info__items:last-child .generation-info__items__item {
      width: 100%; }
    .generation-info__items:last-child .generation-info__item {
      width: 100%; }
  .gallery {
    flex-direction: column; }
  .gallery__items {
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff; }
  .hamburg-menu {
    position: fixed;
    top: 50px;
    right: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 2; }
    .hamburg-menu__burger-nav {
      width: 50px;
      height: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: transform .5s;
      background: #64c29e;
      border: none; }
      .hamburg-menu__burger-nav :hover:after {
        width: 100%; }
  .hamburg-menu__burger-nav:before, .hamburg-menu__burger-nav:after {
    content: '';
    width: 50px;
    height: 6px;
    position: absolute;
    top: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    border: none;
    background-color: #64c29e; }
  .hamburg-menu__burger-nav:before {
    top: 8px;
    background-color: #64c29e; }
  .hamburg-menu.active .hamburg-menu__burger-nav {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    transition: background 1s ease; }
    .hamburg-menu.active .hamburg-menu__burger-nav:before {
      top: 17px;
      transform: rotate(45deg); }
  .hamburg-menu.active .hamburg-menu__burger-nav:after {
    top: 17px;
    transform: rotate(135deg); }
  .menu {
    height: 0;
    margin: 0;
    overflow: hidden;
    background-color: #fff; }
    .menu__link {
      color: #64c29e; }
      .menu__link :hover {
        text-transform: uppercase;
        text-decoration: none;
        color: #64c29e;
        transform: scaleX(1); }
  .menu .menu__link:hover:after {
    width: 100%; }
  .menu .menu__link:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: #64c29e;
    transition: all .3s ease-in-out; }
  .menu.open {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: all .4s ease; }
  .menu.open .menu__link {
    margin: 20px 0; }
  .contact-with-us__container {
    flex-direction: column; }
  .contact-with-us__btn {
    margin-top: 20px;
    width: 100%; }
  .contact {
    padding: 125px 70px; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start; }
    .footer__item {
      margin-bottom: 30px; }
      .footer__item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 600px) {
  .new-generation {
    padding: 117px 45px; }
  .generation-info__items {
    flex-direction: column; }
    .generation-info__items .image-container {
      background: no-repeat center / cover;
      padding: 40px 0; }
    .generation-info__items .image-container, .generation-info__items .generation-info__item {
      width: 100%; }
    .generation-info__items .generation-info__item .generation-info__item-text {
      padding: 0 0 45px 0; }
  .generation-info__items:last-child {
    flex-direction: column; }
    .generation-info__items:last-child .image-container {
      padding: 0;
      height: 200px; }
  .gallery {
    flex-direction: column; }
  .contact-with-us {
    padding: 60px; }
  .contact {
    padding: 125px 40px; }
  .footer {
    padding: 100px; }
    .footer__item {
      margin-bottom: 40px; }
      .footer__item .author {
        margin-bottom: 0; }
        .footer__item .author__link-image {
          width: 55px; } }

@media screen and (max-width: 430px) {
  .generation-info__items:last-child .image-container {
    padding: 80px 0; }
  .contact {
    padding: 10px; }
    .contact .contact-info {
      padding: 127px 10px; }
  .contact-with-us__input {
    width: 260px; }
  .footer {
    padding: 50px; } }

@media screen and (max-width: 380px) {
  .hamburg-menu {
    right: -27px; }
  .new-generation {
    padding: 117px 20px; }
    .new-generation__text {
      text-align: justify; }
  .generation-info__items .generation-info__item .generation-info__item-info {
    padding: 50px 25px; }
  .gallery__items .gallery__item {
    flex-direction: column; }
  .contact-with-us {
    padding: 60px 0; }
  .contact .contact-info {
    padding: 50px 10px; }
  .footer {
    padding: 25px; } }

@media screen and (max-width: 340px) {
  .contact-with-us__input {
    width: 200px; } }

@media screen and (max-width: 320px) {
  .discover__button {
    padding: 16px 30px; } }
