@import url("https://fonts.googleapis.com/css?family=Lato&subset=latin-ext");
html, body {
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 600px;
  height: 300px; }

/*********************************************/
.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-pagination-bullet {
  background-color: #f7f7f7 !important;
  border: 2px solid #a9afb3 !important; }

.swiper-pagination-bullet-active {
  background-color: #a9afb3 !important; }

/*********************************************/
.flex-column {
  display: flex;
  flex-direction: column; }

.flex-row {
  display: flex;
  flex-direction: row; }

header {
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  min-height: 800px; }
  header nav .menu {
    width: 100%;
    padding: 0;
    padding-top: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px; }
    header nav .menu__item {
      padding: 34px; }
      header nav .menu__item a {
        display: block;
        color: #4d4959;
        text-decoration: none; }
        header nav .menu__item a:hover {
          color: #64c29e; }

main {
  font-family: "Lato", sans-serif; }
  main .title-text {
    text-align: center;
    color: #353738;
    font-family: "Lato", sans-serif;
    font-size: 18px; }
    main .title-text h3 {
      text-transform: uppercase; }
    main .title-text p {
      color: #848789;
      line-height: 34px;
      margin: 0; }
  main .new-generation .container {
    padding: 117px 279px; }
  main .generation-info .row {
    display: flex;
    width: 100%;
    padding: 0; }
    main .generation-info .row .image-container {
      width: 70%;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      display: flex;
      align-items: center;
      justify-content: space-around; }
    main .generation-info .row img {
      width: 100%;
      height: 100%; }
    main .generation-info .row .flex-column {
      display: flex;
      flex-direction: column;
      width: 30%; }
      main .generation-info .row .flex-column .title-text {
        position: relative; }
        main .generation-info .row .flex-column .title-text .title-text__icon {
          padding-top: 65px; }
        main .generation-info .row .flex-column .title-text p {
          text-align: left;
          position: relative;
          padding: 65px;
          padding-top: 0;
          margin-bottom: 53px; }
          main .generation-info .row .flex-column .title-text p:after {
            content: '';
            position: absolute;
            left: 45%;
            bottom: 0px;
            width: 50px;
            height: 3px;
            background: #d7d7d7;
            border-width: 0 10px; }
        main .generation-info .row .flex-column .title-text:after {
          content: '';
          position: absolute;
          left: 45%;
          bottom: -39px;
          border: 20px solid transparent;
          border-top: 20px solid white; }
  main .generation-info .row:last-child .image-container {
    width: 33.333%; }
  main .generation-info .row:last-child .flex-column {
    width: 33.333%; }
  main .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    main .contact .carousel-indicators li {
      background-color: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #a9afb3; }
    main .contact .carousel-indicators .active {
      background-color: #a9afb3; }
    main .contact .title-text {
      padding: 300px 125px; }
      main .contact .title-text h3 {
        text-transform: none; }
        main .contact .title-text h3 p {
          display: inline;
          color: #848789; }
    main .contact ul {
      display: flex; }
      main .contact ul li {
        background-color: red; }
        main .contact ul li button {
          display: none !important; }
  main .gallery {
    width: 100%;
    display: flex;
    padding: 0; }
    main .gallery .col-4 {
      padding: 0;
      width: -webkit-fill-available;
      max-width: 33.333333%; }
      main .gallery .col-4 .gallery__item {
        height: 267px; }
  main .gallery__item {
    width: 100%;
    height: 265px;
    display: flex;
    align-items: stretch;
    justify-content: stretch; }
    main .gallery__item a {
      position: relative;
      display: flex;
      flex-direction: column;
      background-image: none;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      opacity: 0;
      background-color: rgba(100, 194, 158, 0.8); }
      main .gallery__item a:hover {
        opacity: 1; }
      main .gallery__item a:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity .3s ease;
        z-index: -1; }
  main .discover {
    align-items: center;
    justify-content: center;
    min-height: 200px;
    background: #282f35; }
    main .discover .discover__button {
      letter-spacing: 4.5px;
      font-size: 14px;
      background: #282f35;
      border: 2px solid white;
      color: white;
      padding: 20px 58px;
      text-transform: uppercase; }
  main .contact-with-us {
    font-size: 24px;
    color: #848789;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px; }
    main .contact-with-us .contact-with-us__input {
      padding-top: 40px; }
      main .contact-with-us .contact-with-us__input input {
        padding: 25px;
        width: 350px;
        font-size: 15px;
        color: #c8c8c8;
        border: 2px solid #d3d7d9; }
        main .contact-with-us .contact-with-us__input input:focus {
          border: 2px solid #64c29e; }
      main .contact-with-us .contact-with-us__input button {
        font-size: 17px;
        padding: 25px 45px;
        color: white;
        background: #64c29e;
        border: none; }
        main .contact-with-us .contact-with-us__input button:hover {
          background-color: #ff5654; }

footer .container {
  display: flex;
  justify-content: space-around;
  padding: 100px 250px; }
  footer .container__item {
    font-size: 16px; }
    footer .container__item .street, footer .container__item .city {
      color: #848789;
      padding-bottom: 7px; }
    footer .container__item .company {
      padding-bottom: 7px; }
  footer .container .social-icon img {
    padding-right: 15px; }
    footer .container .social-icon img:last-child {
      padding: 0; }
  footer .container .author {
    display: flex; }
    footer .container .author p {
      color: #848789; }
    footer .container .author svg {
      padding: 10px; }

@media screen and (max-width: 1440px) {
  .container {
    padding: 117px 75px !important; }
  main .contact .title-text {
    padding: 143px 125px; }
  main .gallery {
    display: flex; }
    main .gallery .col-4 {
      width: -webkit-fill-available;
      max-width: 33.333333%; } }
